export DATABASE=levelup
export USERNAME=postgres
export PASSWORD=password
export NEWSAPI_KEY="167aa74e22a045b58d8d8af7cb8effe8"
export IGDB_KEY="96651c2677f60060f3a91ef002c2a419"
export TWITCH_KEY="goetr7q6o8bx0zott538hwdsavlpf8"
export FORTNITE_KEY="4e989a71073c48d9c63e5ccf8551495e"