<!DOCTYPE html>
<html>

<head>
  <title>Level Up</title>

  <link href="https://fonts.googleapis.com/css?family=Bangers|Montserrat|Press+Start+2P" rel="stylesheet">
  <link rel="shortcut icon" href="static/images/level-up-logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>


<body>
  <div id="root">

  </div>

  <script id="data">
    const initialUser = {{{ data }}};

  </script>
  <script src="/static/bundle.js"></script>

</body>

</html>