<!DOCTYPE html>
<html>

<head>
    <title>Login Controller</title>
</head>

<body>
    <div>
        <form id="login-form">
            <label for="username">username</label>
            <input id="username" name="username" value="" />
            <label for="password">password</label>
            <input id="password" name="password" type="password" value="" />
            <button type="submit">Log in</button>
        </form>
    </div>
    <script src="/static/client.js"></script>
</body>

</html>