<!DOCTYPE html>
<html>

<head>
    <title>Registration page</title>
</head>

<body>
    <div>
        <form id="signup-form">
            <label for="signup-username">username</label>
            <input id="signup-username" name="signup-username" value="" />
            <label for="signup-password">password</label>
            <input id="signup-password" name="signup-password" type="password" value="" />
            <label for="signup-password">email</label>
            <input id="signup-email" name="signup-email" type="email" value="" />
            <button type="submit">Register</button>
        </form>
    </div>
    <script src="/static/client.js"></script>
</body>

</html>