<!DOCTYPE html>
<html>

<head>
    <title>Registration page</title>
</head>

<body>
    <div>
        <form id="registration-form">
            <label for="registration-username">username</label>
            <input id="registration-username" name="registration-username" value="" />
            <label for="registration-password">password</label>
            <input id="registration-password" name="registration-password" type="password" value="" />
            <label for="registration-password">email</label>
            <input id="registration-email" name="registration-email" type="email" value="" />
            <button type="submit">Register</button>
        </form>
    </div>
    <script src="/static/client.js"></script>
</body>

</html>