* {
  box-sizing: border-box;
  margin: 10px;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--primary-color);

  font-family: "Press Start 2P", cursive;
  /* background: rgb(36, 36, 77); */
  background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: cover;
  background-color: rgb(13, 27, 27);
  color: whitesmoke;
}
