* {
  box-sizing: border-box;
  margin: 10px;
}

li {
  list-style: none;
}

.search {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  /* background: rgb(36, 36, 77); */
  background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: cover;
  background-color: rgb(13, 27, 27);
  color: whitesmoke;
}

.search__input {
  font-size: 30px;
  width: 100%;
  height: 40px;
  border-radius: 5%;
  border: 2px solid #ccc;
  background-color: rgb(19, 26, 26);
  color: white;
}

.search__details--name {
  font-size: 30px;
}

.search__form {
  margin-bottom: 10px;
}

.search__result {
  //one search result list item
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 12;

  background-color: rgb(34, 39, 35);
}

.search__img--cover {
  // flex: 5;
  width: auto;
  // height: auto;
}
.search__box {
  display: flex;
  flex-direction: row;
}
.search__details {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.search__info {
  display: flex;
  flex-direction: column;
  // margin: auto;
}

.search__video {
  align-content: right; //argh help!
  justify-content: right;
  margin: auto;
}
