.header {
  padding: 20px;
  margin: 0;

  border-style: solid;
  border-color: whitesmoke;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

  background-color: var(--dark-grey);

  .header__logo {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-family: 'Press Start 2P', cursive;
      font-size: 19px;
    }
  }
 }
