.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: auto;
  // background-image: url("/static/images/background2.jpg");
  background-image: url("/static/images/fortnite-background3.jpg");
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: cover;
}

.homepage__main {
  display: grid;
  grid-template-columns: (4, 1fr 1fr 1fr 1fr);
  // grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.homepage__side {
  flex: 1;
  text-align: center;
  // background-color: rgba(54, 57, 63, 0.7);
}

.homepage__main--title {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  // padding: 10px;
  margin-top: 10px;
  color: var(--primary-color);
}

.homepage__main--top5 {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;

  padding: 15px;
  margin: 0;

  background-color: rgba(54, 57, 63, 0.7);
}

.homepage__main--tour {
  display: inline-block;
  height: 50px;
  // margin: auto;
  font-size: 20px;
  font-weight: 400;
  width: auto;
  background-color: darkslategrey;
  color: rgb(75, 212, 253);
  border-style: none;
  border-radius: 5%;
}

.homepage__side--poll {
  background-color: rgba(54, 57, 63, 0.7);
  padding: 1px;
}

.poll__heading {
  text-align: center;
  font-weight: bold;

  padding: 10px;
  margin: 0;
}

.homepage__side--poll-question {
  font-weight: bolder;

  padding: 7px;
  margin: 0;
}

.homepage__side--poll-answers {
  display: flex;
  flex-direction: row;
}

.homepage__links {
  color: var(--secondary-color);
}

// @media (min-width: 768px) {
// .homepage {
//   display: flex;
//   flex-direction: row;

//   width: 100%;
// }

// .homepage__main {
//   display: flex;
//   flex: 4;
//   flex-direction: column;

//   text-align: center;
//   align-items: center;
// }

.homepage__featured {
  // display: flex;
  // flex: 12;
  // flex-direction: row;
  // justify-content: space-apart;
  // text-align: left;
  // // align-items: center;
  // margin: 15px;
  // padding: 15px;
  // // background-color: rgba(54, 57, 63, 0.7);
  // color: whitesmoke;
}

.homepage__featured--game {
  grid-column: 1;
  grid-row: 1/3;
  text-align: left;

  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
  height: auto;
}
.homepage__featured--user {
  // grid-column: 2;
  grid-row: 1;
  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
  height: auto;
}
.homepage__featured--forum {
  // grid-column: 3;
  grid-row: 1;
  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
}
.homepage__featured--twitch {
  // grid-column: 4;
  grid-row: 1;
  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
}
.homepage__topgames {
  // grid-column: 3;
  grid-row: 2/4;
  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
}
.homepage__topforums {
  // grid-column: 4;
  grid-row: 2/5;
  background-color: rgba(54, 57, 63, 0.7);
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
}

.homepage__main--tour:hover {
  cursor: pointer;
  border-color: var(--secondary-color);
}

.poll__heading {
  text-align: center;
  font-weight: bold;

  padding: 10px;
  margin: 0;
}

.homepage__side--poll-question {
  font-weight: bolder;

  padding: 7px;
  margin: 0;
}

.homepage__side--poll-answers {
  display: flex;
  flex-direction: row;
}

.homepage__links {
  color: var(--secondary-color);
}
