.homepage {
  display: flex;

  width: 100%;
}

.homepage__main {
  display: flex;
  flex: 4;
  flex-direction: column;

  text-align: center;
}

.homepage__main--featured--selection {
  display: flex;
  flex-direction: row;
}

.homepage__main--top10 {
  display: flex;

  width: 60%;
}

.homepage__side {
  flex: 1;
}
