.homepage {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.homepage__main {
  display: flex;
  flex: 4;
  flex-direction: column;

  text-align: center;
  align-items: center;

  border-style: solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #f5f5f5;
  border-left-color: transparent;
}

.homepage__main--title {
  font-family: 'Press Start 2P', cursive;
  

  padding: 5px;
  margin: 5px;
}

hr {
  border: 0;
  box-shadow: 0 0 10px 1px #f5f5f5;
  margin: 9px;
}

.homepage__main--featured {
  text-align: center;
  padding: 10px;
}

.featured__wrapper {
  background-color: rgba(54, 57, 63, 0.5);

  width: 85%;

}

.homepage__main--featured-title {
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: #f5f5f5;
  border-bottom-color: #f5f5f5;

  padding: 15px;
  margin: 0;

  background-color: rgba(114, 137, 218, 0.5);

}


.homepage__main--featured--selection {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;
  
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #f5f5f5;
  
    padding: 15px;
  
    background-color: rgba(54, 57, 63, 0.5);
  }

  .homepage__main--top5 {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
  
    padding: 15px;
    margin: 0;
  
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;

    background-color: rgba(54, 57, 63, 0.5);
  }

  .homepage__main--tour {
    display: none;
   }

   .homepage__side {
    flex: 1;

   
  }

  .homepage__side--poll {
    background-color: rgba(114, 137, 218, 0.5);
  
  padding: 1px;

 
  
  }

  .poll__heading {
    text-align: center;
    font-weight: bold;
  
    border-style: dashed;
    border-color: #f5f5f5;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  
    padding: 10px;
    margin: 0;
  }

  .homepage__side--poll-question {
    font-weight: bolder;
  
    border-style: dashed;
    border-color: #f5f5f5;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  
    padding: 7px;
    margin: 0;
  }
  
  .homepage__side--poll-answers {
  display: flex;
  flex-direction: row;
  }
  
  .homepage__links {
    color: gold;
  }
  
  .homepage__side--twitter {
    width: 100%;
    height: 50%;
  }
  
  .homepage__button {
    margin: 5px;
  }



@media(min-width: 768px) {

.homepage {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.homepage__main {
  display: flex;
  flex: 4;
  flex-direction: column;

  text-align: center;
  align-items: center;

  border-style: solid;
  border-right-color: #f5f5f5;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.homepage__main--title {
  font-family: 'Press Start 2P', cursive;
  

  padding: 10px;
  margin: 10px;
}

hr {
  border: 0;
  box-shadow: 0 0 10px 1px #f5f5f5;
  margin: 9px;
}

.vertical__rule {
  border: 0;
  box-shadow: 0 0 10px 1px #f5f5f5;
  margin: 9px;

  width: 20%;
  color: #f5f5f5;

  transform: rotate(90deg)
}

.homepage__main--featured {
  text-align: center;
}

.featured__wrapper {
  background-color: rgba(54, 57, 63, 0.5);

  width: 85%;

}

.homepage__main--featured-title {
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: #f5f5f5;
  border-bottom-color: #f5f5f5;

  padding: 15px;
  margin: 0;

  background-color: rgba(114, 137, 218, 0.5);
}

.homepage__main--featured--selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #f5f5f5;

  padding: 15px;

  background-color: rgba(54, 57, 63, 0.5);
}

.homepage__main--top5 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 10px;

  border-style: solid;
  border-bottom-color: #f5f5f5;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

.homepage__main--tour {
  display: block;
  width: 80%;
    text-align: center;
    padding: 15px;
    margin: 8px;
    border-radius: 50%;
    border-width: 7px;
    border-color: #f5f5f5;
    font-size: 14px;
    color: #f5f5f5;
    background-color: rgba(114, 137, 218, 0.5);
 }

 .homepage__main--tour:hover {
cursor: pointer;
border-color: gold;
 }

.homepage__side {
  flex: 1;
}

.homepage__side--poll {
  background-color: rgba(114, 137, 218, 0.5);

padding: 1px;

}

.poll__heading {
  text-align: center;
  font-weight: bold;

  border-style: dashed;
  border-color: #f5f5f5;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;

  padding: 10px;
  margin: 0;

}


.homepage__side--poll-question {
  font-weight: bolder;

  border-style: dashed;
  border-color: #f5f5f5;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;

  padding: 7px;
  margin: 0;
}

.homepage__side--poll-answers {
display: flex;
flex-direction: column;
}

.homepage__links {
  color: gold;
}

.homepage__side--twitter {
  width: 100%;
  height: 50%;
}

.homepage__button {
  margin: 5px;
}
}