.main-nav {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  .main-nav__item {
      margin-left: 20px;
     a {
      color: #fff;
      font-size: 14px;
      padding-bottom: 5px;
      text-decoration: none;

      &:hover, 
      &.is-active {
        border-bottom: 2px solid var(--secondary-color);
        color: var(--secondary-color);
      }
     }
  }
}

.homepage-tour {
  color: whitesmoke;
  background-color: rgba(54, 57, 63, 0.5);
}

.introjs-nextbutton {
  color: rgba(54, 57, 63, 0.5);

}

.introjs-prevbutton {
  color: rgba(54, 57, 63, 0.5);

}

.introjs-button {
  margin-left: 10px;
  font-size: 9px;
  font-weight: bolder;
  border: 1px solid #fff;
  color:    var(--secondary-color);

  width: 40px;
  padding: 2px 3px;
  border-radius: 4px;
  display: inline-block;


}


  .introjs-helperNumberLayer {
    box-sizing: content-box;
    position: absolute;
    z-index: 9999998;

    background: rgba(54, 57, 63, 0.5);

    border: 1px solid #777;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);

    transition: all .3s ease-out;
}

.introjs-helperLayer {
  background: rgba(54, 57, 63, 0.5);
}