.main-nav {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  .main-nav__item {
      margin-left: 20px;
     a {
      color: #fff;
      font-size: 14px;
      padding-bottom: 5px;

      &:hover, 
      &.is-active {
        border-bottom: 2px solid var(--secondary-color);
        color: var(--secondary-color);
      }
     }
  }
}