.search__body {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-image: url("/static/images/background2.jpg");
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: cover;
  color: whitesmoke;
}

.search__side {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(54, 57, 63, 0.8);
  margin-right: 40px;
  color: whitesmoke;

  .search__avatar {
    width: 70px;
    max-width: 70px;
    border-radius: 50%;
    margin-top: 20px;
  }

  .search__input {
    font-size: 15px;
    // margin: 10px;
    height: 40px;
    border-radius: 5%;
    border: 1px solid rgb(26, 44, 238);
    background-color: rgba(54, 57, 63, 0.8);
    color: whitesmoke;
  }

  .search__list .search__result {
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
  }

  .game__anchor {
    text-decoration: none;
    color: whitesmoke;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 15px;
  }
}

// .search__wrapper {

// }

.search__details--name {
  grid-column: 1/4;
  font-size: 20px;
  vertical-align: top;
  color: var(--primary-color);
  margin: 30px 10px 10px 0px;
}

.search__desc {
  margin-left: 10px;
}

.search__result {
  display: grid;
  grid-template-columns: 3, 1fr 2fr;
  grid-gap: 10px;
  // grid-auto-rows:100px; */

  // grid-auto-rows: minmax(250px, auto);
}

.search__LHS {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(54, 57, 63, 0.5);
  padding: 20px;
  margin-right: 20px;

  .search__img {
    width: 250px;
    height: auto;
    margin: auto;
  }

  .search__details--button {
    height: 50px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    width: auto;
    background-color: darkslategrey;
    color: rgb(75, 212, 253);
    border-style: none;
    border-radius: 5%;
  }
}
.search__RHS {
  grid-row: 2;

  display: flex;
  flex-direction: column;
  background-color: rgba(54, 57, 63, 0.5);
  margin: 20px;
  // padding-bottom: 100%;
  // margin-bottom: -100%;

  // .search__details {
  //   flex: 7;
  //   display: flex;
  //   flex-direction: column;
  // }

  .search__info {
    display: flex;
    flex-direction: column;
  }

  .search__details--ratings {
    margin-left: 10px;
    color: grey;
  }

  .search__rating {
    color: var(--secondary-color);
  }

  .search__video {
    // align-content: right;
    // justify-content: right;
    margin: auto;
    width: 660;
    height: 415;
    // frameBorder:"0;
    // width: auto;
    // height: auto;
  }

  .search__box {
    display: flex;
    flex-direction: row;
  }
}

.search__screenshots {
  grid-column: 1/5;
  margin: 20px;
  text-align: center;
  padding: 10px;
  background-color: rgba(54, 57, 63, 0.8);
}

.search__footer {
  position: fixed;
  right: -80px;
  bottom: 80px;
  font-size: 15px;
  color: rgb(146, 112, 177);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/* Popup-------------------------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  // margin: auto;
}
.popup__inner {
  position: absolute;
  left: 25%;
  right: 10%;
  top: 25%;
  bottom: 25%;
  border-radius: 2%;
  text-align: center;
}

.popup__button {
  position: absolute;
  top: 5%;
  right: 5%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  /*   top: 0; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
}

.next {
  right: 1%;
}

.prev {
  left: 1%;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgb(26, 44, 238);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
