li {
  list-style: none;
}
.game__anchor{
  text-decoration: none;
  color:whitesmoke;
  text-align:center;
  font-size:15px;
}

.search__body {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: whitesmoke;
}

.search {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 39, 35, 0.9);
  margin: auto;
  color: whitesmoke;
}

.search__input {
  font-size: 15px;
  margin: auto;
  height: 40px;
  border-radius: 5%;
  border: 1px solid rgb(26, 44, 238);
  background-color: rgb(19, 26, 26);
  color: white;
}

.search__details--name {
  font-size: 20px;
  vertical-align: top;
  color: rgb(205, 165, 243);
  margin-left:10px;
}

.search__desc{
  margin-left:10px;
}

.search__form {
  margin-left: 10px;
}

.search__result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 12;
}

.search__img {
  display:flex;
  flex-direction: column;
  text-align:center;
  align-content: center;
  margin:auto;
}
.search__img--cover {
   width: auto;
}
.search__details--button {
  height: 50px;
  margin-top:15px;
  font-size:20px;
  font-weight: 400;
  width:auto;
  background-color: darkslategrey;
  color: rgb(75, 212, 253);
  border-style:none;
  border-radius:5%;
}

.search__box {
  display: flex;
  flex-direction: row;
}

.search__details {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.search__info {
  display: flex;
  flex-direction: column;
}

.search__video {
  align-content: right; //argh help!
  justify-content: right;
  margin: auto;
}

.search__details--ratings {
  margin-left:10px;
  color: grey;
}

.search__rating {
  color: rgb(75, 212, 253);
}

.search__footer {
  position: fixed;
  left: -80px;
  bottom: 80px;
  font-size: 15px;
  color: rgb(146, 112, 177);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.search__screenshots{
  margin-top:20px;
  text-align:center;
}

/* Popup-------------------------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1),
  // margin: auto;
}
.popup__inner {
  position: absolute;
  left:25%;
  right: 10%;
  top: 25%;
  bottom: 25%;
  border-radius: 2%;
  text-align: center;
}

.popup__button{
  position:absolute;
  top:5%;
  right: 5%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
/*   top: 0; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
}

.next {
  right: 1%;
}

.prev {
  left: 1%;
}

.prev:hover, .next:hover {
	color: white;
  background-color: rgb(26, 44, 238);
}

 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 