.twitch__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background-image: url("/static/images/background2.jpg");
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: cover;
  color: whitesmoke;
  width: 100%;
}

.twitch__button {
  height: 50px;
  margin: 15px;
  font-size: 20px;
  font-weight: 400;
  width: auto;
  background-color: darkslategrey;
  color: var(--secondary-color);
  border-style: none;
  border-radius: 5%;
}

.twitch__anchor {
  text-decoration: none;
  color: whitesmoke;
  vertical-align: middle;
  font-size: 15px;
}
.twitch__search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.twitch__video {
  position: relative;
  width: 100%;
  overflow: hidden;

}
.twitch__player {

  height: 100%;
  width: 100%;

}
.twitch__search--form {
  color: 75, 212, 253;
}

.twitch__streamers {
  display: inline-block;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-content: center;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: 10px 20px 10px 10px;
  background-color: rgba(54, 57, 63, 0.5);
}
.twitch_streamers--image {
  width: 60px;
  // margin: 10px;
}

.twitch__list {
  // align-content: center;
  vertical-align: middle;
}

.twitch__footer {
  position: fixed;
  left: -70px;
  bottom: 80px;
  font-size: 15px;
  color: rgb(146, 112, 177);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
