* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "IBM Plex Serif", serif;
  /* background: rgb(36, 36, 77); */
  // background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(13, 27, 27);
  color: whitesmoke;
}
