* {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

body {

  font-family: 'Open Sans', sans-serif;

  //what should we put here?

  
  margin: 0;
  background-color: var(--primary-color);
  /* background: rgb(36, 36, 77); */
  // background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(13, 27, 27);
  color: whitesmoke;
}
